<TxAttributeSet window_0>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ez"
</TxAttributeSet>
<TxAttributeSet window_1>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Er"
</TxAttributeSet>
<TxAttributeSet window_2>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ephi"
</TxAttributeSet>
<TxAttributeSet window_3>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Bz"
</TxAttributeSet>
<TxAttributeSet window_4>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Br"
</TxAttributeSet>
<TxAttributeSet window_5>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Bphi"
</TxAttributeSet>
<TxAttributeSet window_6>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Iz"
</TxAttributeSet>
<TxAttributeSet window_7>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ir"
</TxAttributeSet>
<TxAttributeSet window_8>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Iphi"
</TxAttributeSet>
<TxAttributeSet window_9>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ue"
</TxAttributeSet>
<TxAttributeSet window_10>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ub"
</TxAttributeSet>
<TxAttributeSet window_11>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Poynting Vector"
</TxAttributeSet>
<TxAttributeSet window_12>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "rho"
</TxAttributeSet>
<TxAttributeSet window_13>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Divergence Error"
</TxAttributeSet>
<TxAttributeSet window_14>
  openFlag = 1
  plotType = 2
  windowHeight = 325
  windowWidth = 425
  windowX = 863
  windowY = 153
  plotLabel = "z-r phase space for electrons"
</TxAttributeSet>
<TxAttributeSet window_15>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "uz vs z, all species"
</TxAttributeSet>
<TxAttributeSet window_16>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "ur vs z, all species"
</TxAttributeSet>
<TxAttributeSet window_17>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "uphi vs z, all species"
</TxAttributeSet>
<TxAttributeSet window_18>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "uz vs r, all species"
</TxAttributeSet>
<TxAttributeSet window_19>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "ur vs r, all species"
</TxAttributeSet>
<TxAttributeSet window_20>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "uphi vs r, all species"
</TxAttributeSet>
<TxAttributeSet window_21>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "E"
</TxAttributeSet>
<TxAttributeSet window_22>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "B"
</TxAttributeSet>
<TxAttributeSet window_23>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "I"
</TxAttributeSet>
<TxAttributeSet window_24>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "TE-beige KE-green Efield-yellow Bfield-Orange"
</TxAttributeSet>
<TxAttributeSet window_25>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Average magnitude of error in Div(D) at t"
</TxAttributeSet>
<TxAttributeSet window_26>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "number(t)"
</TxAttributeSet>
<TxAttributeSet window_27>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Kinetic Energy(t)"
</TxAttributeSet>
<TxAttributeSet window_28>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "total density (t)"
</TxAttributeSet>
<TxAttributeSet window_29>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ave KE(t)"
</TxAttributeSet>
<TxAttributeSet window_30>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Number density for electrons"
</TxAttributeSet>
