<TxAttributeSet window_0>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ex"
</TxAttributeSet>
<TxAttributeSet window_1>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ey"
</TxAttributeSet>
<TxAttributeSet window_2>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ez"
</TxAttributeSet>
<TxAttributeSet window_3>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Bx"
</TxAttributeSet>
<TxAttributeSet window_4>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "By"
</TxAttributeSet>
<TxAttributeSet window_5>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Bz"
</TxAttributeSet>
<TxAttributeSet window_6>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ue"
</TxAttributeSet>
<TxAttributeSet window_7>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ub"
</TxAttributeSet>
<TxAttributeSet window_8>
  openFlag = 1
  plotType = 3
  windowHeight = 325
  windowWidth = 425
  windowX = 441
  windowY = 44
  plotLabel = "rho"
</TxAttributeSet>
<TxAttributeSet window_9>
  openFlag = 1
  plotType = 3
  windowHeight = 325
  windowWidth = 425
  windowX = 4
  windowY = 399
  plotLabel = "phi"
</TxAttributeSet>
<TxAttributeSet window_10>
  openFlag = 1
  plotType = 2
  windowHeight = 325
  windowWidth = 425
  windowX = 863
  windowY = 523
  plotLabel = "x-y phase space for electrons"
</TxAttributeSet>
<TxAttributeSet window_11>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "ux vs x, all species"
</TxAttributeSet>
<TxAttributeSet window_12>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "uy vs x, all species"
</TxAttributeSet>
<TxAttributeSet window_13>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "uz vs x, all species"
</TxAttributeSet>
<TxAttributeSet window_14>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "ux vs y, all species"
</TxAttributeSet>
<TxAttributeSet window_15>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "uy vs y, all species"
</TxAttributeSet>
<TxAttributeSet window_16>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "uz vs y, all species"
</TxAttributeSet>
<TxAttributeSet window_17>
  openFlag = 0
  plotType = 2
  windowHeight = 324
  windowWidth = 425
  windowX = 315
  windowY = 313
  plotLabel = "E"
</TxAttributeSet>
<TxAttributeSet window_18>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "B"
</TxAttributeSet>
<TxAttributeSet window_19>
  openFlag = 1
  plotType = 2
  windowHeight = 325
  windowWidth = 425
  windowX = 1235
  windowY = 582
  plotLabel = "TE-beige KE-green Efield-yellow Bfield-Orange"
</TxAttributeSet>
<TxAttributeSet window_20>
  openFlag = 1
  plotType = 2
  windowHeight = 325
  windowWidth = 425
  windowX = 444
  windowY = 402
  plotLabel = "number(t)"
</TxAttributeSet>
<TxAttributeSet window_21>
  openFlag = 1
  plotType = 2
  windowHeight = 325
  windowWidth = 425
  windowX = 4
  windowY = 45
  plotLabel = "Kinetic Energy(t)"
</TxAttributeSet>
<TxAttributeSet window_22>
  openFlag = 0
  plotType = 2
  windowHeight = 325
  windowWidth = 425
  windowX = 880
  windowY = 402
  plotLabel = "total density (t)"
</TxAttributeSet>
<TxAttributeSet window_23>
  openFlag = 0
  plotType = 2
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Ave KE(t)"
</TxAttributeSet>
<TxAttributeSet window_24>
  openFlag = 0
  plotType = 3
  windowHeight = 325
  windowWidth = 425
  windowX = 428
  windowY = 523
  plotLabel = "Number density for electrons"
</TxAttributeSet>
<TxAttributeSet window_25>
  openFlag = 0
  plotType = 3
  windowHeight = -1
  windowWidth = -1
  windowX = -1
  windowY = -1
  plotLabel = "Initial number density for electrons"
</TxAttributeSet>
